*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: bisque;
}

header{
  background-color: rgb(249, 199, 139);
}

main{
  width: 70%;
  margin: 0 auto;
  max-width: 700px;
}

h1{
  text-align: center;
  color: darkslategray;
  margin-top: 0%;
}

.choice_box{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.box{
  height: 200px;
  width: 200px;
  border: 2px solid white;
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: yellow;
}

.player{
  background-color: rgb(177, 193, 206);
}

.border{
  border: 2px solid white;
  border-radius: 50%;
  background: rgba(245, 245, 245, 0.489) ;
  font-weight: 900;
  width: 100px;
  margin: auto;
}

button:hover{
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.726);
}

.compChoice_dis{
  margin: auto;
  font-weight: 900;
  width: 100px;
}

.score{
   
  margin-top: 2rem;
  display: flex;
  justify-content: center;
 justify-content: space-around;
}

.score_box{
  width: 1.5rem;
  height: 1.5rem;
  border: 0.5rem solid rgba(128, 128, 128, 0.648);
  text-align: center;
  align-content: center;

}

.result{
  border: none;
  background-color: rgba(226, 226, 226, 0.73);
  margin-top:2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.result_dis{
  font-weight: 900;
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  text-shadow: 0.1rem 0rem rgba(0, 0, 0, 0.437);
}

.reset{
  text-align: center;
  border: none;
  margin-top: 2rem;
}

.reset_img{
  height:60px;
}

.game_icons{
  height:50px;
}

.compChoice_dis {
  height: 50px;
}

.Rock{
  background-image: url("Images/flippedRock.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
}

.Paper{
  background-image: url("Images/flippedPaper.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
}

.Scissors{
  background-image: url("Images/flippedScissors.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
}
